@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    padding: 8px 0 25px 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}

.float-none {
    float: none !important;
}

.mrg-auto {
    margin: 0 auto;
}

header {
    background: url(../images/hrader-bg.jpg) no-repeat;
    background-size: cover;
}

.home-banner {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.play-Quiz {
    background: url(../images/paly-Ground.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.quiz-sec {  
    color: #fff;
}
.sec-padding{
    padding: 100px 0px 30px;
}
.quiz-sec h1 {
    font-weight: 900;
    text-transform: uppercase;
    line-height: 65px;
}
.quiz-sec img {
    width: 100%;
    box-shadow: 1px 1px 11px 5px rgba(0, 0, 0, 0.63);
}
.shadow-bg-sec{
    padding: 0 15px;
    background: url(../images/trans.png) no-repeat;
    background-size: cover;
}
.shadow-bg-sec p {
    font-size: 17px;
    padding: 2% 14%;
    margin: 0 13%;
    /* border-bottom: 1px solid #9571027d; */
    background: url(../images/p-bg.png) no-repeat;
    background-position: bottom center;
    background-size: 80% 2px;
}
.shadow-bg-sec p:last-child{
    background: none;
}
.play-now {
    display: inline-block;
    background: url(../images/link-bg.jpg) repeat-x;
    color: #403e3f;
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
    padding: 16px 22px;
    line-height: 14px;
    font-weight: 900;
    margin: 15px 0;
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.42);
    transition: all ease-in-out 0.1s;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
}

.play-now:hover {
    background-position: 10px -7px;
    color: #403e3f;
}

.leaderboard {
    padding: 30px 0;
}

.leaderboard h3 {
    font-size: 22px;
    line-height: 22px;
    padding: 14px 0;
    color: #fff;
    background: #957102;
    text-transform: uppercase;
}

.leaderboard table {
    width: 100%;
    color: #fff;
    border: none;
}

.leaderboard table th,
.leaderboard table td {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #676363;
    font-size: 16px;
}
.leaderboard table tr:first-child th{
    background: #5c4704;
    font-weight: 700;
    font-size: 17px;
}
.leaderboard table tr:nth-child(2) td {
    background: #332705;
    color: #ffe800;
    font-weight: 700;
}
.leaderboard table tr:nth-child(3) td {
    background: #221a04;
}
.t-and-c a{
    text-decoration: underline;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
}
.t-and-c a:hover{
    color: #ffe800
}
.game-heading{
    text-transform: uppercase;
    font-weight: 900;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#f1e62c, #FF9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fnt-80{
    font-size: 80px;
}
.fnt-70{
    font-size: 70px;
}
.fnt-60{
    font-size: 60px;
}
.score-heading {
    font-size: 55px;
    font-weight: 400;
    margin: 5px 0;
    padding: 0;
}
h5.score-info{
    padding: 0;
    margin: 5px 0;
    font-size: 55px;
    font-weight: 700;
}
.register .form-group{
    margin-bottom: 28px;
}
.register input, .register select, .register textarea{
    background: none;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    box-shadow: none;
    height: auto;
    padding: 10px 15px;
}
.register input:focus, .register select:focus, .register textarea:focus{
    border-color: #f9ba13;box-shadow: none;
}
input.submit-info, input.submit-info:focus{
    display: inline-block;
    outline: none;
    background: url(../images/link-bg.jpg) repeat-x;
    color: #403e3f;
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
    padding: 16px 22px;
    line-height: 14px;
    font-weight: 900;
    margin: 15px 0;
    border: none;
    letter-spacing: 4px;
}
.quiz-ground{
    color: #fff;
    padding: 60px 0 60px;
}
.quiz-query.text-center {
    padding: 20px 0 10px;
}
.quiz-question {
    font-size: 40px;
    color: #fff;
}
.ques-counter {
    font-size: 21px;
    color: #fff;
	font-weight:700;
}
.quiz-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f9ba13;
    margin-bottom: 15px;
}
.timmer {
    position: relative;
    width: 160px;
    height: 133px;
    margin: 0 auto;
}

.timmer img{
    width: 100%;
    max-width: 130px;
}
.gameTime {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 22%;
    left: 5px;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    font-family: 'Orbitron', sans-serif;
}
.answer ul{
    padding: 0;
}
.answer ul li{ display:inline-block; width:50%; margin-left:-4px; cursor:pointer; text-align:center; margin-top:30px;}
.answer ul li input[type="radio"]{ opacity:0; position:absolute;}
.answer ul li label{ cursor:pointer;  margin-bottom:0; padding:0 20px; display:block; font-size:17px; font-weight:700; color: #fff; border:1px solid #fff;}
.answer ul li input[type="radio"]:checked + label{color:#000; background: #f1e52d; border-color: #f1e52d}
.answer ul li span{ display:inline-block;  width:100%; max-width:75%; margin:0 auto; height:50px; line-height:50px; position:relative;}
.play-now {
    display: inline-block;
    background: url(../images/link-bg.jpg) repeat-x;
    color: #403e3f;
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
    padding: 16px 22px;
    line-height: 14px;
    font-weight: 900;
    margin: 40px 0 20px;
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.42);
    transition: all ease-in-out 0.1s;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
}
.submit button{ border:none; margin-top:60px; font-size:23px; letter-spacing:3px;}
/* .submit button:hover{color:#fff;  transition:all 0.7s;} */
.social-share ul{
    width: 100%;text-align:  center;
    margin: 15px 0;
    padding: 0;
}
.social-share ul li{
    display: inline-block;
    width: 25%;
    min-width: 160px;
    margin: 0 10px;
}
.social-share li img{
    max-width: 100%;
    width: 100%;
}
.social-share li img:hover{
    opacity: 0.9;
}
.share-result h1{
    font-size: 50px;
}
.share-result h3 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 18%;
    line-height: 56px;
    margin-bottom: 32px;
    background: -webkit-linear-gradient(#f1e62c, #FF9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
